:root {
    --cor-fundo: #141414;
    --vermelho-padrao:#E50914;
    --vermelho-secundario: #B20710;
    --cinza-claro: #B3B3B3;
    --cinza-escuro: #272727;
    --cinza-borda: #505050;;
    
}

@font-face {
    font-family: 'Bebas';
    src: url(../assets/font/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/font/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/font/Poppins-Regular.ttf);
}

body {
    background-color: var(--vermelho-secundario);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.btn-voltar {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
}
.btn-voltar img {
    height: 40px;
}

.btn-voltar:hover , .btn-voltar img:hover{
   text-decoration: underline;
   transform: scale(1.05);
   transition: 0.5s ease;
}

.containerPrincipal {
    background-color: var(--cor-fundo);
    margin: 48px;
    padding: 20px;
    border-radius: 25px;
    height: 90vh;
    overflow: hidden;
}

.containerConteudo {
    margin: 10px;
    gap: 15px;
    display: flex;
    height: calc(100% - 60px);
}

.containerIMGC {
    display: none;
}

.containerIMG{
    width: 50%;
    overflow: hidden;
    border-radius: 30px;
}

.containerIMG img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.containerParametros {
    margin: 50px;
    width: 50%;
    /* align-self: center; */
    margin-top: 200px;
}

.containerParametros .titulo {
    font-family: 'Bebas';
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}

.containerParametros a {
    font-family: 'Inter';
    color: var(--cinza-borda);
    text-decoration: underline;
    font-size: 28px;
    cursor: pointer;
}

.containerParametros a:visited {
    color: var(--cinza-borda);
}

.containerParametros a:hover {
    color: var(--cinza-claro);
}

.containerInputs {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
}

.containerInputs input {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    font-size: 30px;
    height: 40px;
    
}

.containerBTN {
    margin-top: 60px;
    justify-self: center;
}

.containerBTN button {
    background-color: #E50914;
    border: none;
    padding: 15px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 180px;
    cursor: pointer;
}

.containerBTN button:hover {
    background-color: #B20710;
    color: var(--cinza-claro);
    transform: scale(1.05);
    transition: 0.15s ease-in;
}



@media (max-width: 999px) {

    .containerConteudo {
        display: block;
    }

    .containerIMG {
        display: none;
        margin: 0;
    }

    .containerIMGC{
        display: flex;
        width: 100%;
        height: 30%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .containerIMGC img {
        height: 50%;
        width: auto;
        object-fit: cover;
        object-position: center;
    }

    .containerParametros {
        margin: 0;
        width: 100%;
        align-self: center;
    }

    .containerParametros .titulo {
        font-family: 'Bebas';
        color: white;
        font-size: 55px;
        font-weight: bold;
        margin: 0;
    }

    .containerParametros a {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .containerPrincipal {
        margin: 0;
        border-radius: 0;
        height: 100vh
    }

    .containerParametros .titulo {
    font-family: 'Bebas';
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
}

.containerParametros a {
    font-size: 22px;
}

.containerInputs input {
    font-size: 20px;
}

.containerIMGC{
        height: 20%;
        margin-bottom: 20px;
    }

    .containerIMGC img {
        height: 50%;
    }

}

@media (max-height: 670px) {

    .containerPrincipal {
        margin: 0;
        border-radius: 0;
        height: 100vh
    }

    .containerParametros {
        margin-top: 0px;
    }

}